.banner {
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: space-around;
    width: 100%;
    
}

.spotlight {
    height: 300px;
    width: 300px;
    display: block;
    box-shadow: 3px 3px lightgray;
    padding: 10px;
}


p {
    color: navy;
    size: 5em;
}